PORT=3000
SECRET_KEY=
DATABASE_URL=
GEMINI_API_KEY=
MAIL_DEFAULT_SENDER=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_SERVER=
MAIL_USERNAME=
MAIL_USE_TLS=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=